/*FONT*/
@font-face {
    font-family: NunitoSans;
    src: url(NunitoSans/NunitoSans-Light.ttf);
}

@font-face {
    font-family: NunitoSansTitle;
    src: url(NunitoSans/NunitoSans-ExtraBold.ttf);
}

@media (min-width: 576px) {
    #Nav-xsm {
        display: none !important;
      }
    }

@media (max-width: 576px) {
    .even {
        padding-left:0 !important;
    }

    .odd {
        display: none !important;
    }
}
/*BACKGROUND BEFORE NAVBAR*/
body {
    font-family: "NunitoSans";
    max-width:1200px;
}

.img {
    border-radius: 4px;
    border-style: dashed;
    border-width: 1px;
}

#header {
    align-content: center;
    font-size: large;
    background-image: url(images/header-image.jpg);
    background-size: cover;
    min-width: auto;
    min-height: 250px;
    border-radius: 8px;
    max-width: 800px;
}

#title {
    font-family: "NunitoSansTitle";
    text-align: center;
    font-size: 50px;
    color: rgba(197, 197, 197, 0.534);
    position:relative;
    padding-top: 20px;
}
/*--------------------------NAV BAR-------------------------------*/

#Nav-xsm, .nav-link {
    padding-top: 24px;
    margin: 8px;
    line-height: 10px;
    color: #333;
    font-size: 13px;
}
  
.navbar-brand {
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    color: #333;
    margin-left: 15px;
}

#xlNavbar {
    max-width: 1200px;
}
  
  /*side nav */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    top: 0; 
    right: 0;
    background-color: white;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
    transition: 0.3s;
}
  
  /*close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 18px;
    margin-left: 50px;
}
  